fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy[asyncio]==2.0.41
asyncpg==0.30.0
pydantic==2.11.4
pydantic-settings==2.9.1
pandas==2.2.3
yfinance==0.2.61
pandas-ta==0.3.14b
apscheduler==3.11.0
python-dotenv==1.1.0
alembic==1.15.2
